# Temporary files
*~
*.tmp
*.log
tmp/
log.txt

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Angular / Ionic
.angular/
.angular/cache/
.ionic/
dist/
www/
coverage/
out-tsc/
bazel-out/
.sourcemaps/

# Capacitor / Mobile
android/.gradle/
android/local.properties
ios/App/Pods/

# IDEs
.idea/
.project
.classpath
.c9/
.settings/
.history/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Cache
.sass-cache/
.nx/
.nx/cache/
*.tsbuildinfo

# Environment
.env

# System files
.DS_Store
Thumbs.db
$RECYCLE.BIN/